*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  
}

header{
    background-color: rgb(255, 173, 21);
    color: black;
    display: flex;
    justify-content: space-between;
    
    padding: 20px 25px;
}

body{
    font-family: sans-serif;
    padding: 20px 25px;
    background-color:rgb(87, 10, 10);
}

main{
    background-color: white;
    text-indent: 2em;
    
}

h2{
        text-align: center;
}

img{
    max-width: 20%;
    height: auto;
    display: block;
    width: 100%;
    height: auto;
    margin: auto;
}

nav ul{
    list-style: none;
    display: flex;
    gap: 20px;
}

nav a{
    color: black;
    text-decoration: none;
    font-weight: bolder;
}

nav a:hover{
    color: white;
}

/*Responsividade com celulares*/
@media(max-width:768px){
    header{
        flex-direction: column;
        gap: 20px;
    }

    nav ul{
        flex-direction: column;
        align-items: center;
        font-size: 20px;
    }

    img{
        width: 100%;
        height: auto;
        margin: auto;
    }
}

