*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    background-color: aqua;
    color: salmon;
    display: flex;
    justify-content: space-between;
}

body{
    font-family: sans-serif;
}

nav ul{
    list-style: none;
    display: flex;
    gap: 20px;
}

